@font-face {
    font-family: circular-web;
    src: url(/fonts/circularweb-book.woff2);
}

.contact-all {
    margin-bottom: 17.7vw;
}

.contact-head {
    font-family: zentry;
    font-size: 6.77vw;
    color: black;
    margin-left: 3.645vw;
    margin-top: 1.04vw;
}

.contact-content {
    margin-top: 10.4vw;
    display: flex;
    flex-direction: column;
}

.contact-para {
    font-family: circular-web;
    color: black; 
    font-weight: 400;
    font-size: 2.34vw;
    text-align: center;
}

.contact-button {
    margin-top: 0.78vw;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    gap: 2.34vw;
}


@media screen and (max-width: 992px) {
    .contact-head {
        font-size: 18vw;
    }

    .contact-para {
        font-size: 7vw;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 12vw;
    }
    
    .contact-button {
        flex-direction: column;
        gap: 6vw;
    }

    .contact-button button {
        width: 80%;
        margin-left: auto;
        margin-right: auto; 
    }

    .contact-content {
        margin-top: 5vw;
    }

    .contact-head {
        margin-top: 5vw;
    }   

    .contact-para {
        margin-top: 5vw;
    }   
}
