@font-face {
    font-family: circular-web;
    src: url(/fonts/circularweb-book.woff2);
}

.showreel-container {
    padding-top: 50px;
    padding-bottom: 150px;
}

.showreel-head {
    font-family: zentry;
    font-size: 130px;
    color: black;
    margin-left: 70px;
}

.showreel-video {
    margin-top: 30px;
    width: 1550px;
    margin-left: auto;
    margin-right: auto;
}