@font-face {
  font-family: circular-web;
  src: url(/fonts/circularweb-book.woff2);
}

.team-grid {
  margin-top: 3.64vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team-grid-one {
  display: flex;
  gap: 6.25vw;
}

.team-grid-two {
  display: flex;
  gap: 6.25vw;
}

.team-member {
  display: flex;
  flex-direction: column;
  gap: 0.781vw;
  align-items: center;
  margin: 0.04vw;
  margin-left: 0px;
  margin-right: 0px ;
  margin-bottom: 5.2vw;
}

.team-img {
  width: 15.625vw;
  height: 15.625vw;
  border-radius: 50%;
}

.team-name {
  font-family: circular-web;
  color: #f4f4ff; 
  font-weight: 400;
  font-size: 1.14vw;
}

@media screen and (max-width: 992px) {
  .team-grid {
    margin-top: 5vh;
  }

  .team-grid-one {
    gap: 6vw;
    flex-direction: column;
  }

  .team-grid-two {
    margin-top: 5vw;
    gap: 6vw;
    flex-direction: column;
  }

  .team-member {
    margin-bottom: 2vw;
  } 

  .team-img {
    width: 50vw;
    height: 50vw;
  } 

  .team-name {
    font-size: 4.5vw;
  } 

  .team-member {
    margin-bottom: 2vw;
  }
}